#canvas{
    background-color: aquamarine;
    display: block;
    margin: 0 auto;
}

body{
    background-color: blanchedalmond;
    margin: 0; 
    height: 100vh; 
}

h1{
    text-align: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
