html {
    height: 100%;
    width: 100%;
  }

  #contato:hover{
    color: green;
  }
  
  table,
  th,
  td {
    border: 1px solid;
    border-collapse: collapse;
  }
  
  #header-project {
    font-size: 20px;
  }
  
  a:visited {
    color: blue;
  }
  
  .exemplo {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75px;
  }
  
  #Office {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 75px;
    height: 75px;
  }
  
  .maps:hover{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 200px;
  }