body{
    background-color: lightgray;
}

#cabeca{
    background-color: bisque;
    border: 3px solid darkblue;
    display: block;
    height: 200px;
    width: 100%;
}

#pe{
    background-color: bisque;
    display: block;
    height: 130px;
    width: 183%;
}

#links{
    background-color: lightblue;
    display: inline-flex;
    height: 50px;
    width: 100.1%;
}

#linkhome{
    font-size: 12pt;
    color: rgb(95, 47, 139);
    position: absolute;
    top: 21.5%;
    left: 33%;
}

#linklivros{
    font-size: 12pt;
    color: rgb(95, 47, 139);
    position: absolute;
    top: 21.5%;
    left: 43%;
}

#linkvideos{
    font-size: 12pt;
    color: rgb(95, 47, 139);
    position: absolute;
    top: 21.5%;
    left: 53%;
}

#linkcontatos{
    font-size: 12pt;
    color: rgb(95, 47, 139);
    position: absolute;
    top: 21.5%;
    left: 63%;
}

#clogo{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 1%;
    left: 2%;
}

#javalogo{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 1%;
    left: 90%;
}

#htmllogo{
    position: absolute;
    height: 120px;
    width: 120px;
    left: 1%;
}

#csslogo{
    position: absolute;
    height: 120px;
    width: 100px;
    left: 94%;
}

#projalgo{
    width: 350px;
    height: 518px;
}

#thec{
    width: 350px;
    height: 518px;
}

#java{
    width: 350px;
    height: 518px;
}

p{
    text-align: center;
    font-family: sans-serif;
    font-size: 20pt;
    color: rgb(95, 47, 139);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 15pt;

}

#titulo{
    position: absolute;
    text-align: center;
    font-size: 40pt;
    top: 3%;
    left: 45%;
    color: green;
}

#final{
    position: absolute;
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 15pt;
    top: 232%;
    left: 40.5%;
    color: black;
}

#consultas{
    background-color: yellow;
    border: 2px;
    height: 130px;
    width: 30%;
}

#contatos{
    position: relative;
    border-style: dashed;
    border-color: red;
    left: 40%;
    text-align: center;
}

tr,td{
    border: 1px solid red;
    width: 200px;
    height: 30px;
}

.topo{
    color: red;
}
